.container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 10px;
    color: white;
}
.box{
    width: 100%;
    min-height: 100px;
    background-color: blue;
}
.one{
    grid-column: 1/span 2;
}
/* .three{
    grid-column-start: 4;
    grid-column-end:span 5;
} */

.five{
    grid-row: 2 / span 2;
}